<div class="cat">
	<div class="title-box">
		<div class="logo">POKER</div>
		<div class="name">Products</div>
	</div>
	<ul class="cat-list">
        <li class="cat-item">
        	<a class="hot-tag sub-cat" href="#">Smokjoy Special Products</a>
        	<ul>
        		<li>
			       <a href="p_78_en.html">N-Fire Max Mod</a>
			    </li>
			    
			    <li>
			       <a href="p_76_en.html">N-Fire II VV Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_83_en.html">N-Fire II Full Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_86_en.html">N-Fire LA2 Tank</a>
			    </li>
			    
			    <li>
			       <a href="p_84_en.html">EVOD-MVP Starter Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_68_en.html">EVOD Single Gift Box</a>
			    </li>
			    
			    <li>
			       <a href="p_100_en.html">eGo Diamond Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_102_en.html">eGo V V3 Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_103_en.html">EVOD V V3 Battery</a>
			    </li>
		    
		    </ul>
		    
	    </li>
	    
	    <li class="cat-item">
        	<a class="hot-tag sub-cat" href="#">Smokjoy Special Products</a>
        	<ul>
        		<li>
			       <a href="p_78_en.html">N-Fire Max Mod</a>
			    </li>
			    
			    <li>
			       <a href="p_76_en.html">N-Fire II VV Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_83_en.html">N-Fire II Full Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_86_en.html">N-Fire LA2 Tank</a>
			    </li>
			    
			    <li>
			       <a href="p_84_en.html">EVOD-MVP Starter Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_68_en.html">EVOD Single Gift Box</a>
			    </li>
			    
			    <li>
			       <a href="p_100_en.html">eGo Diamond Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_102_en.html">eGo V V3 Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_103_en.html">EVOD V V3 Battery</a>
			    </li>
		    
		    </ul>
		    
	    </li>

	    <li class="cat-item">
        	<a class="hot-tag sub-cat" href="#">Smokjoy Special Products</a>
        	<ul>
        		<li>
			       <a href="p_78_en.html">N-Fire Max Mod</a>
			    </li>
			    
			    <li>
			       <a href="p_76_en.html">N-Fire II VV Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_83_en.html">N-Fire II Full Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_86_en.html">N-Fire LA2 Tank</a>
			    </li>
			    
			    <li>
			       <a href="p_84_en.html">EVOD-MVP Starter Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_68_en.html">EVOD Single Gift Box</a>
			    </li>
			    
			    <li>
			       <a href="p_100_en.html">eGo Diamond Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_102_en.html">eGo V V3 Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_103_en.html">EVOD V V3 Battery</a>
			    </li>
		    
		    </ul>
		    
	    </li>

	    <li class="cat-item">
        	<a class="hot-tag sub-cat" href="#">Smokjoy Special Products</a>
        	<ul>
        		<li>
			       <a href="p_78_en.html">N-Fire Max Mod</a>
			    </li>
			    
			    <li>
			       <a href="p_76_en.html">N-Fire II VV Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_83_en.html">N-Fire II Full Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_86_en.html">N-Fire LA2 Tank</a>
			    </li>
			    
			    <li>
			       <a href="p_84_en.html">EVOD-MVP Starter Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_68_en.html">EVOD Single Gift Box</a>
			    </li>
			    
			    <li>
			       <a href="p_100_en.html">eGo Diamond Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_102_en.html">eGo V V3 Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_103_en.html">EVOD V V3 Battery</a>
			    </li>
		    
		    </ul>
		    
	    </li>

	    <li class="cat-item">
        	<a class="hot-tag sub-cat" href="#">Smokjoy Special Products</a>
        	<ul>
        		<li>
			       <a href="p_78_en.html">N-Fire Max Mod</a>
			    </li>
			    
			    <li>
			       <a href="p_76_en.html">N-Fire II VV Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_83_en.html">N-Fire II Full Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_86_en.html">N-Fire LA2 Tank</a>
			    </li>
			    
			    <li>
			       <a href="p_84_en.html">EVOD-MVP Starter Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_68_en.html">EVOD Single Gift Box</a>
			    </li>
			    
			    <li>
			       <a href="p_100_en.html">eGo Diamond Kit</a>
			    </li>
			    
			    <li>
			       <a href="p_102_en.html">eGo V V3 Battery</a>
			    </li>
			    
			    <li>
			       <a href="p_103_en.html">EVOD V V3 Battery</a>
			    </li>
		    
		    </ul>
		    
	    </li>

	    <li class="cat-item">
        	<a href="#">Smokjoy Special Products</a>
	    </li>
	    <li class="cat-item">
        	<a href="#">Smokjoy Special Products</a>
	    </li>
	    <li class="cat-item">
        	<a href="#">Smokjoy Special Products</a>
	    </li>
	    <li class="cat-item">
        	<a href="#">Smokjoy Special Products</a>
	    </li>
	    <li class="cat-item">
        	<a href="#">Smokjoy Special Products</a>
	    </li>
	    
	 </ul>
</div>