<div class="hot-list">
	<div class="hot-wrap">
		<button class="hot-btn hot-pre"></button>
		<button class="hot-btn hot-next"></button>
		<div class="hot-list-wrap">
			<ul>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/100.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/101.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/102.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/103.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/104.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/105.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/106.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/107.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="hot-img">
							<img src="/img/demo/108.jpg"/>
						</div>
						<div class="hot-title">Smokjoy Special Products</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>