{% extends './base.html' %}
{% block title %}Poker's Blog{% endblock %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/pub.css">
	<link rel="stylesheet" type="text/css" href="/css/product.css">
{% endblock %}

{% block content %}
	{% include "title.inc.html" %}
	<div class="product-list clearfix">
		{% include "cat.inc.html" %}
		<div class="p-panel">
			{% include "p-title.inc.html" %}
			<div class="main-info clearfix">
				<div class="img">
					<img src="/img/demo/120.jpg" data-big="/img/demo/120.jpg">
					<div class="zoom-pad"></div>
				</div>

				<div class="zoomin">
					<img src="about:blank">
				</div>
				<div class="meta-list-box">
					<div class="p-name">Product Name:N-Fire LA2 Tank</div>
					<div class="meta-list clearfix">
						<h2>Parameters</h2>
						<dl>
							<dt>Brand</dt>
							<dd>Smokjoy</dd>
						</dl>
						<dl>
							<dt>Model</dt>
							<dd>N-Fire LA2 Tank</dd>
						</dl>
						<dl>
							<dt>Model Number</dt>
							<dd>N-Fire LA2 Tank</dd>
						</dl>
						<dl>
							<dt>Size</dt>
							<dd>82(H)*22(D)</dd>
						</dl>
						<dl>
							<dt>Weight</dt>
							<dd>0.25KGS</dd>
						</dl>
						<dl>
							<dt>Color</dt>
							<dd>Reddish Brown</dd>
						</dl>
						<dl>
							<dt>payment</dt>
							<dd>PayPal, T/T, Western Union</dd>
						</dl>
						<dl>
							<dt>Atomizer Capacity</dt>
							<dd>2.5mL</dd>
						</dl>
						<dl>
							<dt>Battery Capacity</dt>
							<dd>Best Fit for N-Fire II VV and N-Fire Max Mod</dd>
						</dl>
						<dl>
							<dt>Voltage</dt>
							<dd>3.3V-4.8V for N-Fire II VV</dd>
						<dl>
					</div>
				</div>
			</div>
			<div class="thumb-gallary">
				<button class="gallary-btn gallary-pre"></button>
				<button class="gallary-btn gallary-next"></button>
				<div class="gallary">
					<ul>
						<li class="focus"><img src="/img/demo/108.jpg"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	{% include "hot-list.inc.html" %}
	{% include "footer.inc.html" %}
{% endblock %}

{% block page_js %}
	<script type="text/javascript" src="/js/lib/require.js" data-main="/js/index/zoom"></script>
{% endblock %}
