.slide{
	background: #232323;
	position: relative;
}
.slide-item-box{
	height: 414px;
}
.slide-item{
	position: absolute;
	height: 414px;
	width: 100%;
	left: 0;
	top: 0;
	background-position: center;
	z-index: 1;
	opacity: 0;
	    moz-transition:opacity .5s ease-in;
	-webkit-transition:opacity .5s ease-in;
	     -o-transition:opacity .5s ease-in;
	    -ms-transition:opacity .5s ease-in;
	        transition:opacity .5s ease-in;
}
.slide-cur-item{
	z-index: 2;
	opacity: 1;
}

.slide-btn-box{
	position: absolute;
	top: 380px;
	height: 20px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	left: 0;
	z-index: 3;
}
.slide-btn-box button{
	border: none;
	width: 12px;
	height: 12px;
	line-height: 0;
	overflow: hidden;
	font-size: 0;
	display: inline-block;
	background: url(/img/slide-btn.png) no-repeat;
	cursor: pointer;
	outline: none;
}
.slide-btn-box .cur-slide-btn{
	background-image: url(/img/slide-btn-cur.png);
}

